.show-info {
    display: flex;
    flex-wrap: wrap;
}

.el-form-item {
    width: 286px;

    &:nth-of-type(2n) {
        margin-left: 20px;
    }
}

.form-item {
    width: 100%;
}

.header {
    width: 100%;
    font-weight: 600;

    .title-icon {
        cursor: pointer;
    }
}

/* stylelint-disable selector-class-pattern */
.el-form-item__label {
    text-align: left;
}
